#NavBar {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#NavBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: inherit;
}

#NavBar input {
    width: 12rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    transition: background-color 0.25s ease-in-out;
    font-size: 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#NavBar input:hover {
    background-color: var(--website-blue);
    cursor: pointer;
}