#ThirdSection {
     width: 100%;
     height: 240vh;
     min-height: 600px;
     color: black;
     display: flex;
     justify-content: center;
     background-color: white;
}

#ThirdSectionStickyContainer {
     position: sticky;
     top: 5rem;
     height: 90vh;
     width: 50%;
     background-color: rgb(255, 255, 255);
     overflow-x: hidden;
}

#ThirdSectionStickyContainer h3 {
     font-size: 1.4rem;
}

.MessageBubble {
     padding-left: 2rem;
     padding-right: 2rem;
}

.MessageBubble a:hover {
     color: rgb(156, 114, 196);
}

.leftMessage {
     background-color: rgb(183, 255, 255);
     border-top-left-radius: 4rem;
     border-top-right-radius: 4rem;
     border-bottom-right-radius: 4rem;
}

.rightMessage {
     background-color: rgb(226, 255, 183);
     border-top-left-radius: 4rem;
     border-top-right-radius: 4rem;
     border-bottom-left-radius: 4rem;
}

.SendAMessageContainer {
     position: absolute;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

.MessageBubble {
     height: 11vh;
     display: flex;
     align-items: center;
     justify-content: center       ;
}

@media only screen and (max-width: 1600px) {
     #ThirdSectionStickyContainer {
          width: 60%;
     }
}

@media only screen and (max-width: 1200px) {
     #ThirdSectionStickyContainer {
          width: 80%;
     }
}

@media only screen and (max-width: 800px) {
     #ThirdSectionStickyContainer {
          width: 90%;
     }
}

@media only screen and (max-width: 480px) {
     #ThirdSectionStickyContainer {
          width: 100%;
     }
}