#NavSection {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 50;
}

#NavSectionLeft {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out;
}

#NavSectionLeft h1 {
    font-size: 3rem;
}


#NavSectionLeft:hover {
    background-color: #009189;
    cursor: pointer;
}

#NavSectionRight {
    height: inherit;
    width: auto;
    display: flex;
    align-items: center;
}