#NavSection {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: var(--website-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--website-text);
    z-index: 50;
    transition: all 0.8s linear;
}

#NavSectionLeft {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out;
    background-color: var(--website-bg);
}

#NavSectionLeft img {
    height: 70%;
}

#NavSectionLeft:hover {
    background-color: var(--website-blue);
    cursor: pointer;
}

#NavSectionRight {
    height: inherit;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background-color: var(--website-bg);
}