.CircleSelector {
     width: 1rem;
     height: 1rem;
     background-color: rgb(136, 136, 136);
     border: none;
     border-radius: 50%;
     -webkit-appearance: none;
     appearance: none;
     -moz-appearance: none;
}

.CircleSelector:hover {
     background-color: rgb(98, 98, 98);
     cursor: pointer;
}