#SecondSectionContainer {
    width: 100%;
    z-index: 10;
    height: max-content;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
}

#SecondSectionCurves {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#SecondSectionCurves img {
    width: 100%;
    transform-origin: bottom;
    transform: scaleY(50%) translateY(0.5rem);
    position: absolute;
}


#SecondSection {
    background-color: var(--website-blue);
    height: fit-content;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#SecondSection h2 {
    position: sticky;
    top: 5rem;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(255, 120, 255);
    z-index: 25;
    background-color: var(--website-blue);
    width: 100%;
    text-align: center;
}

#SecondSectionMethodology {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    width: 95%;
    max-width: 70rem;
    height: 200vh;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

#SecondSectionMethodology strong {
    text-shadow: 2px 2px rgb(255, 120, 255);
}

#SecondSectionFirst {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.MethodologyText {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.MethodologyText p {
    font-size: 1.4rem;
    text-align: justify;
}

.MethodologyText h4 {
    font-size: 2.2rem;
}

#SecondSectionFisrtNumber {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    text-align: center;
    text-justify: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MethodologyNumber {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    box-shadow: 2px 2px rgb(255, 120, 255);
    animation: numberAnimation 2s infinite linear;
}

#SecondSectionImage {
    grid-template-columns: 3 / 4;
    width: 100%;
    overflow: hidden;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.parent {
    position: relative;
}

.overflowhide {
    overflow: hidden;
}

.MethodologyImage {
    width: 100%;
}



@keyframes numberAnimation {
    0% {
        transform: translate(0.2rem, 0.2rem);
    }

    25% {
        transform: translate(0.2rem, -0.2rem);
    }

    50% {
        transform: translate(-0.2rem, -0.2rem);
    }
    75% {
        transform: translate(-0.2rem, 0.2rem);
    }
    100% {
        transform: translate(0.2rem, 0.2rem);
    }
}

.animatedBeneficiosButton {
    position: absolute;
    width: 15%;
    bottom: 5%;
    animation: BeneficiosButtonAnimation 2s infinite ease-in-out;
}

.OrangeWheel {
    position: absolute;
    top: 15%;
    left: 2.8%;
    width: 5%;
    animation: OrangeWheelAnimation 2s infinite linear;
}

.OrangeWhatsapp {
    position: absolute;
    width: 5%;
    bottom: 7%;
    right: 4%;
    animation: OrangeWhatsappAnimation 10s infinite ease-in-out;
}

@keyframes OrangeWhatsappAnimation {
    0% {
        transform: translateX(10rem);
    }

    10% {
        transform: translateX(0px);
    }


}

@keyframes OrangeWheelAnimation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes BeneficiosButtonAnimation {
    0% {
        transform: translate(0rem, 0rem);
    }
    50% {
        transform: translate(0rem, -0.5rem);
    }
}

.animateLeft {
    transition: all 0.3s ease-in-out;
}

.hideLeft {
    transform: translateX(-10rem);
    opacity: 0;
}

.showLeft {
    transform: translateX(0px);
    opacity: 1;
}