body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 16px;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --website-bg: #001113;
  --website-blue: #009189;
}

h1 {
  font-family: 'Righteous', cursive;
}

h2 {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p, button, li, input {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, button, img, br {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}

@media only screen and (min-height: 1080px) {
  body, html {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  html, body {
      font-size: 14px;
  }
}