.PersonalCard {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
}

.PersonalCard img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 0.5rem solid var(--website-blue);
}

.PersonalCard h3 {
    font-size: 1.8rem;
}

.PersonalCard P {
    font-size: 0.9rem;
}

.PersonalCardDescriptionContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .PersonalCard {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .PersonalCardDescriptionContainer {
        display: flex;
        flex-direction: column;
    }
    .PersonalCard img {
        height: 9rem;
        width: 9rem;
        border: 0.5rem solid var(--website-blue);
    }
}