#FirstSection {

    position: relative; 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    background-size: cover;
}

#FirstSectionVideoContainer {
    position: absolute;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backgroundVideo {
    position: absolute;
    z-index: 0;
    width: 70vw;
}

#FirstSectionOverlay {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    #FirstSectionOverlay {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
}