#FirstSection {
    position: relative; 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    background-size: cover;
}

#FirstSectionContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FirstSectionContainer img {
    width: 25vw;
}

#FirstSectionContainer h3 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    #FirstSectionContainer img {
        width: 50vw;
    }
}