.navBar {
   height: 5rem;
   width: 100%;
   background-color: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

li {
   list-style-type: disc;
   box-sizing: content-box;
   display: block;
}

.navBar img {
   max-height: 80%;
   margin-left: 1rem;
}

.navBar h1 {
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   margin-right: 1rem;
}

.OperatorCalc {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OperatorCalcInput {
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  display: flex;
  text-align: center;
  align-items: flex-end;
  box-sizing: border-box;
  border: 2px solid rgb(0, 190, 174);
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
  outline: 1px solid rgb(0, 190, 174);
  color: #fff;
  background-color: rgb(69, 69, 69);
}

.OperatorCalc form {
   margin-top: 2rem;
   width: 80%;
  box-sizing: content-box;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.OperatorCalc form input[type="button"] {
  font-size: 2rem;
  height: 4rem;
  width: 100%;
  background-color: rgb(0, 190, 174);
  color: white;
  border-bottom-right-radius: 5rem;
  border-top-right-radius:5rem;
  outline: none;
  border: none;
  box-sizing: border-box;
  border: 2px solid rgb(0, 190, 174);
  outline: 1px solid rgb(0, 190, 174);
}

.OperatorCalc form input[type="button"]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(0, 190, 174);
}

.OperatorCalc form input[type="text"]:focus {
   box-shadow: 0px 0px 15px rgb(0, 190, 174);
}

.OperatorCalc .Instructions {
   margin-top: 2rem;
  max-width: 90%;
  border: 3px solid rgb(0, 190, 174);
  box-sizing: border-box;
  padding: 3rem;
  border-radius: 2rem;
  color: #fff; 
  background-color: rgb(37, 37, 37);
  text-decoration: none;
  text-shadow: none;
}

.colorRed {
   color: red;
   font-weight: 400;
   text-decoration: none;
   text-shadow: none;
}

.OperatorCalc h2 {
  font-size: 2rem;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
}

.OperatorCalc h3 {
   color: white;
   font-size: 3rem;
   margin-top: 2rem;
}

.resultsContainer {
   width: max-content;
   box-sizing: border-box;
   min-width: 60%;
   padding: 2rem;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 2rem;
   color: #fff; 
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(0, 190, 174);
}

.resultsContainer p {
   color: #fff;
   font-size: 2rem;
   margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  .OperatorCalcInput {
    font-size: 1rem;
  }
  
  .OperatorCalc form {
   display: flex;
   width: 95%;
   flex-direction: column;
   height: 12rem;
   justify-content: space-evenly;
   align-items: center;
  }

  .navBar h1 {
      font-size: 1.5rem;
      text-align: center;   
  }

  .OperatorCalc form input[type="text"] {
   border-radius: 15rem;
  }

  .OperatorCalc form input[type="button"] {
   height: 4rem;
   border-radius: 5rem;
  }

  .OperatorCalcInput {
   height: 4rem;
  }

  .resultsContainer p {
   color: #fff;
   font-size: 1rem;
}

.resultsContainer {
   width: 90%;
}

}
