.navBar {
   height: 5rem;
   width: 100%;
   background-color: #000d0d;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navBar img {
   max-height: 80%;
   margin-left: 1rem;
}

.navBar h1 {
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   margin-right: 1rem;
}

.OperatorCalc {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OperatorCalcInput {
  height: 3rem;
  width: 100%;
  font-size: 2rem;
  display: flex;
  text-align: center;
  align-items: flex-end;
  box-sizing: border-box;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 0.5rem;
  outline: 1px solid rgb(50,50,50);
}

.OperatorCalcInput:focus {
   box-shadow: 0px 0px 10px black;
}

.OperatorCalc form {
   margin-top: 2rem;
   width: 80%;
  box-sizing: content-box;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.OperatorCalc form input[type="button"] {
  font-size: 2rem;
  height: 3rem;
  width: 10rem;
  box-sizing: content-box;
  background-color: rgb(0, 76, 65);
  color: white;
  border-radius: 5rem;
  outline: none;
  border: none;
}

.OperatorCalc form input[type="button"]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}

.OperatorCalc .Instructions {
   margin-top: 2rem;
  max-width: 90%;
  border: 2px solid rgb(0, 76, 65);
  box-sizing: border-box;
  padding: 3rem;
  border-radius: 3rem;
}

.OperatorCalc .colorRed {
   color: red;
   font-weight: 800;
}

.OperatorCalc h2 {
  font-size: 3rem;
  color: rgb(0, 104, 89);
  text-align: center;
  user-select: none;
}

@media only screen and (max-width: 700px) {
  .OperatorCalcInput {
    font-size: 1rem;
  }
  
  .OperatorCalc form {
   display: flex;
   width: 95%;
   flex-direction: column;
   height: 12rem;
   justify-content: space-evenly;
   align-items: center;
  }

  .navBar h1 {
      font-size: 1.5rem;
      text-align: center;   
  }

  .OperatorCalc form input[type="button"] {
   height: 4rem;
  }

  .OperatorCalcInput {
   height: 4rem;
  }
}
